@{
    ViewData["Title"] = "Profile";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Index.css">
    <script src="https://kit.fontawesome.com/93280d97ab.js" crossorigin="anonymous"></script>
</head>
<div id="userInfo" class="text-center">
    <div class="d-flex flex-column">
        <div class="align-self-end">
            <a id="editprofile" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-pen-to-square" style="color: #ffe6b8;"></i></a>
        </div>
        <h1>User Profile</h1>
    </div>
    <hr />
    <div id="profilePic-container">
        <img id="profilePic" src="~/images/profile.png" />
    </div>
    <p>@ViewData["FirstName"]&nbsp;&nbsp;&nbsp;@ViewData["LastName"]</p>
    <p>Username: @ViewData["username"]</p>
    <p>Tel: @ViewData["Phone Number"]</p>
    <p>Email: @ViewData["Email"]</p>
</div>
<div id="job">
    <div class="d-flex justify-content-between">
        <h1>Your job</h1>
        <div>
            <a id="addjob-btn" class="btn btn-primary" asp-controller="Home" asp-action="Addjob">Add job</a>
        </div>
    </div>
    <hr />
    @if(Model.Count == 0)
    {
        <div class="text-center text-muted">
            <h1>You hav no job now.</h1>
        </div>
    }
    else
    {
        @foreach (var job in Model)
        {
            <div>
                <p>โรงอาหาร: @job.Canteen</p>
                <p>หมายเหตุ: @job.Description</p>
                <p>สถานะ: @job.Status</p>
            </div>
            <div>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Canceljob" asp-route-id="@job.Id">Cancel</a>
            </div>
        }
    }
    <hr />
</div>
<div id="order">
    <div class="d-flex justify-content-between">
        <h1>Your order</h1>
    </div>
    <hr />
</div>
