@{
    ViewData["Title"] = "User Profile";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <script src="https://kit.fontawesome.com/93280d97ab.js" crossorigin="anonymous"></script>
</head>

<body style="background-color:#f8f3e3">
    <header>
        <div class=" container-fluid " id="Header">
            <div class="row">
                <div class="col-3">
                    <a href="/Home/Index"><img id="nav-img" src="~/images/logo-navbar2.png" alt="yTOkgn.png" /></a>
                </div>
                <div class="col-9">
                    <a href="/Home/Index">UserProfile</a>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="page">
        <div class="left">
            <div id="profileBox">
                <div id="TXT1">
                    <h2>User Profile</h2>
                    <a id="editprofile"  title="Manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-pen-to-square" style="color: #ffe6b8;"></i></a>
                </div>
                <div id="display"><img id="profilePic" src="~/images/profile.png" /></div>
                <div id="fullName">
                    <h5>@ViewData["FirstName"] @ViewData["LastName"]</h5>
                </div>
                <div id="info">
                    <div class="detail"><p>Username : @ViewData["username"]</p></div>
                    <div class="detail"><p>Tel : @ViewData["Phone Number"]</p></div>
                    <div class="detail"><p>Email : @ViewData["Email"]</p></div>
                </div>
            </div>
        </div>
        <div id="right" class="right">
            <div class="container">
                <div class="topic">
                    <div class="TXT">Your︎ ︎ ︎ ︎Job</div>
                    <button class="button" style="border: none;"><a class="text-decoration-none text-black" asp-controller="Home" asp-action="Addjob">Add job</a></button>
                </div>
                <div class="box">
                    @if(ViewData["Model"] == null)
                    {
                        <div class="zeroStatusTXT">
                            <h3>No job right now.</h3>  <!-- for your job--> <!-- no  order  :  for your oder-->
                        </div>
                    }
                    else
                    {
                    
                        <ul class="cards" id="cardsJob">
                            <!-- 1 li class card = 1 order / 1 job-->
                            <li class="card">
                                <div class="orderOwner">
                                    <p>Username : @ViewData["OrderUsername"]<br />Tel : @ViewData["OrderUserPhone"]</p>
                                </div>
                                <div class="buttons d-flex justify-content-end">
                                    @if(ViewData["OrderId"] != null)
                                    {
                                         <form method="post" asp-controller="Home" asp-action="Index">
                                            <input type="hidden" name="jobId" value="@ViewData["JobId"]" />
                                            @if (ViewData["JobStatus"].ToString() == JOBSTATUS.NO_ORDER.ToString())
                                            {
                                                <button class="button m-2" type="submit" id="BT1" style="background: #526FD5; border:none; height: 25px; width: 75px; color:white; font-size: 12px;">
                                                    Comfirm
                                                </button>
                                            }
                                            else if (ViewData["JobStatus"].ToString() == JOBSTATUS.ON_BUYING.ToString())
                                            {
                                                <button class="button m-2" type="submit" id="BT1" style="background: #526FD5; border:none; height: 25px; width: 75px; color:white; font-size: 12px;">
                                                    On going
                                                </button>
                                            }else{

                                            }
                                        </form>
                                    }
                                    @if (ViewData["JobStatus"].ToString() == JOBSTATUS.ON_GOING.ToString())
                                    {
                                        <button class="button m-2" type="submit" id="BT1" style="background: #526FD5; border:none; height: 25px; width: 75px; color:white; font-size: 12px;">
                                            <a class="text-decoration-none text-white" asp-controller="Home" asp-action="Canceljob" asp-route-id="@ViewData["JobId"]">Complete</a>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="button" id="BT2" style="background: #FF2047; height: 25px; border:none; width: 75px; color:white; font-size: 12px;">
                                            <a class="text-decoration-none text-white" asp-controller="Home" asp-action="Canceljob" asp-route-id="@ViewData["JobId"]">Cancel</a>
                                        </button>
                                    }
                                </div>
                                <div class="orderInfo">
                                    <div class="orderDetails">
                                        <p><b>canteen :</b> @ViewData["JobCanteen"]<br /><b>store name :</b> @ViewData["OrderRestaurant"]<br /><b>menu :</b> @ViewData["OrderMenu"]<br /><b>note :</b> @ViewData["OrderDescription"] </p>
                                    </div>
                                    <div class="status">
                                        <div class="rounded-circle">
                                            <p id="statusTXT">@ViewData["JobStatus"]</p>
                                        
                                        </div>
                                    </div>
                                </div>           
                            </li>
                        </ul>            
                    }
                </div>
            </div>

            <div class="container">
                <div class="topic">
                    <div class="TXT">Your︎ ︎ ︎ ︎Order</div>
                    <button class="button" style="border: none;"><a class="text-decoration-none text-black" asp-controller="Home" asp-action="ChooseOrder">Order food</a></button>
                </div>
                <div class="box">
                    @if (Model.Count == 0)
                    {
                        <div class="zeroStatusTXT">
                            <h3>No order right now.</h3>  <!-- for your job--> <!-- no  order  :  for your oder-->
                        </div>
                    }
                    else
                    {
                        <ul class="cards">
                        @foreach (var order in Model)
                        { 
                            <!-- 1 li class card = 1 order / 1 job-->
                            <li class="card">
                                <div class="orderOwner w-100">
                                    <p>Deliver by : @order.JobUser.UserName<br />Tel : @order.JobUser.PhoneNumber</p>
                                </div>
                                <div class="orderInfo">
                                    <div class="orderDetails">
                                            <p><b>canteen :</b> @order.Order.Canteen<br /><b>store name :</b> @order.Order.Restaurent<br /><b>menu :</b> @order.Order.Menu<br /><b>note :</b> @order.Order.Description </p>
                                    </div>
                                    <div class="status">
                                        <div class="rounded-circle">
                                                <p id="statusTXT">@order.Order.Status</p>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
    
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var currentScrollY = $('#cardsJob').scrollTop(); // store current scroll position
            var currentScrollX = $('#cardsJob').scrollLeft(); // store current scroll position
            console.log(currentScrollX);
            console.log(currentScrollY);
            setInterval(function () {
                $.ajax({
                    url: "/Home/GetPageContent",
                    type: "GET",
                    success: function (result) {
                        $('.right').html(result);
                        $('#cardsJob').scrollTop(currentScrollY); // set scroll position after refreshing content
                        $('#cardsJob').scrollLeft(currentScrollX)
                    }
                });
            }, 1000);
        });
    </script>
}
